.react-datepicker {
  /* @apply rounded-none border border-solid border-[#aa8453] bg-white font-secondary text-[0.9rem]; */
  border-radius: 0 !important ;
  border-width: 1px !important ;
  border-style: solid !important ;
  border-color: #aa8453 !important ;
  background-color: #fff !important ;
  font-family: secondary !important ;
  font-size: 0.9rem !important ;
}

.react-datepicker__header {
  border-color: #aa8453 !important ;
  padding: 0 !important ;
  color: #fff !important ;
}
.react-datepicker-wrapper {
  display: flex !important ;
  height: 100% !important ;
  background-color: #fff !important ;
  padding-left: 2rem !important ;
  padding-right: 2rem !important ;
}

.react-datepicker-popper,
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0 !important ;
}

.react-datepicker__triangle {
  display: none !important ;
}

.react-datepicker__current-month {
  background-color: #aa8453 !important ;
  padding-top: 0.3rem !important ;
  padding-bottom: 0.3rem !important ;
  color: #fff !important ;
}
.react-datepicker__navigation {
  top: 5px !important ;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff !important ;
}

.react-datepicker__input-container input {
  background-color: transparent !important ;
  outline: none !important ;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    border-radius: 0 !important ;
    background-color: #aa8453 !important ;
  }
  
  .react-datepicker__day--selected:hover {
    background-color: #aa8453 !important ;
}

.react-datepicker__current-month {
  font-weight: 500 !important ;
}

.react-datepicker__day:hover {
  border-radius: 0 !important ;
}
